<!-- Menu bar -->
<nav class="navbar navbar-default">
  <img src="https://media.glassdoor.com/sqll/265250/head-royce-school-squarelogo-1569802611447.png" class = logo>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        
        <a class="navbar-brand" href="/main">HRS Hangout</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/main">HOME</a></li>
          <li id="find"><a href="/find">FIND</a></li>
          <li id="submit"><a href="/submit">SUBMIT</a></li>
        </ul>
      </div>
    </div>
  </nav>