<!-- Home page -->
<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<!-- Homepage welcomings -->
<div class="container-fluid bg-3 text-center">    
  <h2><%= page %></h2><br>
  <div class="row">
    <div class="col-sm-4">
      <p> </p>
    </div>
    <div class="col-sm-4"> 
      <p>Welcome to the HRS Hangout home page!</p>
    </div>
  </div>
</div>

<img src="https://blogsimages.adobe.com/creative/files/2019/06/05_196042717_M-1.jpg" class = "photo">
    </ul>
  </div>
</div>

<div class = "contacts"> 
  <h3>Contact Us!</h3> 
  <p>To contact us with questions or more information about or website, you can email Duncan at <a href = "https://mail.google.com/mail/u/1/#inbox" target=_blank>duncanr2022@headroyce.org</a> or Mehdi at <a href = "https://mail.google.com/mail/u/1/#inbox" target=_blank>mehdih2022@headroyce.org</a></p>
  <p>Thank you for checking out our website!</p>

</div>

</body>
<% include partials/script %>
</html>